<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.bouscaratnicolas.tuktukmaster"
        versionCode = "1"
        version     = "1.0.1">
 
    <name>Tuktuk Master V1.0 Alphadev</name>
 
    <description>
        Rules the road, be the king of the street, the real and unique TUKTUK MASTER ! In this addicting game where you have to improve and customize your tuktuk, to be more efficient, get more client, more money, and rules the street.
    </description>
 
    <author href="http://bouscaratnicolas/me" email="bouscaratnicolas@gmail.com">
        Bouscarat Nicolas
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>